.about-container {
    display: flex;
    align-items: center;
}

.about-image{
    width: 50%;
}

.about-image img {
    width: 100%;
   
}


.about-us-info {
    width: 44%;
    padding: 3% 3%;
}

.section-title {
    color: #FF3811;
    font-size: 22px;
    font-weight: 700;
}

.section-sub-title {
    font-size:50px;
    font-weight: 700;
    margin: 20px 0
}

.about-us-info p {
    color: #737373;
    margin: 25px 0;
    line-height: 28px;
}