.location-container {
    background-color: #151515;
    border-radius: 20px;
    padding: 75px;
    display: flex;
    justify-content: space-around;
}

.location-info {
    color: white;
    margin-left: 20px;

}
.location-info h4 {
    font-size: 20px;
    padding: 5px 0;
}

.location-info small {
    font-weight: 300;

}

.icon-box {
    display: flex;
    align-items: center;
}