.container {
    max-width: 1200px;
    margin: 0 auto;
}

section {
    padding: 65px 0;
}


.btn {
    padding: 15px 35px;
    font-size: 16px;
    border-radius: 5px;
  }
  
  

.fill-btn {
    background-color: #ff3911e3;
    border: 2px solid #ff3911e3;
    color: white; 
}

.stoke-btn{
    background-color: transparent;
    border: 2px solid white;
    color: white; 
    margin-left: 15px;
}